@media screen and (max-width: 768px){
	.nav-text h1{
	font-size:2em;
	font-weight: 600;
	font-family: palatino;

}
.main-menu{
	width: 100%;
}
.main-menu .navigation li a.nav-link{
font-size: 12px;

}
.top-stories{
   margin-top: 670px;
}
.staff .staff-body h3{
	font-size: 1.5em;
}
.staff .card-body img{
   min-height: 250px !important;
}
.check {
	width:15px;
	height:15px;
	padding-top: 1.5px;
	font-size: 0.8em;
}
.subjects-list ul li{
	font-size: 0.7em;
}
.fees .fees-body h3{
	font-size: 99%;
}
.awards .awards-body ul li{
	font-size:1.1em;
}
.awards-body .check{
	width: 20px;
	height: 20px;
}
}
@media screen and (max-width: 480px){
	.nav-text h1{
	font-size:1.5em;
	font-weight: 600;
	font-family: palatino;
}
	.navbar .container{
		height:150px; 
	}
	
	.navbar .navbar-nav{
		width: 100%;
		height: 50px;

	}
	.phone{
		margin-top: 20px;
		margin-left: 20%;
	}
	.social {
	padding: 10px;
	background-color: blue;
	color: white;
	font-size: 20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
}
.navbar-brand{
	margin-left:20%; 
	top:150px;
	 


}
.logo{
	position: absolute;
	margin-top: 60px;

}
nav.main-menu{
	height: auto;
	position: absolute;
	top:165px;

}
#carousel{
	position:relative;
	margin-top: 425px;

}
.carousel-inner img{
	height: 280px;
	
}
 .carousel .carousel-caption h3{
       text-transform: uppercase;
       font-size: 1em;
       
  }
  .events{
  	margin-top:3px;
  }
  #department{
  	margin-top: 600px;
  	width: 100%;
  }
  #department h1{
  	font-size:1.5em;
  	text-align: center;
  }
#department .col-xs-12 {
	width: 100%;
	text-align: center;

}
.departments .card{
	transform: scale(0.8);
}
.dep-all .gallery{
	margin-top: 1200px;
}
.top-stories{
	margin-top: 690px;
	margin-left: 0px;
}
.footer p {
	font-size: 15px;
}
.clubs-header h2{
	font-size: 1.5em;
	text-align: center;
	margin-left: 25px;
}
/* AboutUs styles*/
.aboutus .card-body img{
	width:100%;
	height:200px; 

}
.aboutus{
	margin-top: 450px;
}
.aboutus h1, .management h1, .staff h1, .fees h1{
	width: 220px;
	font-size: 2em;
	margin-bottom: 0px;

}
.management h1{
	font-size: 1.8em;

}
.staff .staff-body h3{
	font-size: 1.5em;
}
/* Academics*/
.parallax{
	margin-top: 450px;
}
.parallax h1{
	font-size: 1.5em;
	margin-left:10px;
	width: 300px;

}
.subjects .subjects-list ul{
    margin:0px;
    padding:0px;
    font-size: 80%;
}
.check {
	width:15px;
	height:15px;
	padding-top: 1.5px;
	font-size: 0.8em;
}
.awards .awards-body  ul li{
	font-size: 1em;
}

.awards .check{
	width: 20px;
	height: 20px;
	
}
.awards .row{
	margin-left: 30%;

}
.awards h1{
	padding-top: 10px;
	font-size: 30px;
	
}
.awards{
	background-size: 430px;
}
.department-page, .tenders, .assignments, .contact-us{
	margin-top: 440px;
}
.assignments h1{
	width: 90%;
}
.assignments  #submit{
	margin-top: 5px;
	margin-left:11%;
}
footer {
	margin-top: 5px;
	text-align: center;
}
footer h4{
	font-size: 1.0em;
}
footer p{
	font-size: 0.7em;
	padding-left: 15px;
}
.gallery{
	margin-top: 1000px;
}

}